body{
    background-image:url("https://images7.alphacoders.com/322/322070.jpg");
}
.row{   
    display:flex;
    justify-content:space-around;
    background-color:gold;
    color:white;
    font-size:20px;
    opacity:0.75;
}
.headshot{
    width:20%;
   
}
.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}
.aboutme{
    border:1px solid black;   
}

.git{
    width:100px;
    text-align: center;
    
}

#stuff{
    opacity:1;
    border-radius: 40px;
}

.hover{
    padding:10px;
}

.hover:hover{
    background-color: #ddd;
    color: black;
}
